front-page-name {
    font-size: 5em;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    color: rgb(70, 70, 70);
}

hex-puzzle {
    font-size: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    font-weight: bold;
}

.grid-container {
    display: grid;
    column-gap: 1px;
    grid-template-columns: 80px auto auto;
    padding: 2px;
    font-size: 25px;
  }

  .grid-item {
    background-color: rgba(228, 228, 228, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 1px;
    font-size: 14px;
    text-align: left;
  }
